.PlayScreen-page {
    min-height: 100vh;
    background: #020202;
}

.container-playScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.PlayScreen-page #videoPlayer {
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    border: none;
}