.NavbarLogged-component {
    position: relative;
    border-bottom: 1px solid rgba(159, 159, 159, 0.314);
    /* background: black; */
}

.NavbarLogged-component .container-navbar {
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 80px;
    padding: 10px 50px;
    font-family: Mulish,sans-serif;
}

.NavbarLogged-component .container-navbar a {
    text-decoration: none;
}

.NavbarLogged-component .container-navbar .sidebar {
    display: none;
}

.NavbarLogged-component .container-navbar .left-side {
    display: flex;
    align-items: center;
}

.NavbarLogged-component .container-navbar .left-side .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffc107;
}

.NavbarLogged-component .container-navbar .left-side .navbar-brand #film-icon {
    font-size: 35px;
    margin-right: 10px;
}

.NavbarLogged-component .container-navbar .left-side .navbar-brand h1 {
    margin-top: 10px;
    font-size: 30px;
}

.NavbarLogged-component .container-navbar .left-side .links {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 70px;
}

.NavbarLogged-component .container-navbar .left-side .links a {
    color: rgb(170, 170, 170);
    margin-right: 30px;
}

.NavbarLogged-component .container-navbar .left-side .links a:hover {
    color: white;
}

.NavbarLogged-component .container-navbar .right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.NavbarLogged-component .container-navbar .right-side a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    color: white;
}

.NavbarLogged-component .container-navbar .right-side .dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavbarLogged-component .container-navbar .right-side .dropdown .image-dropdown {
    color: white;
}

.NavbarLogged-component .container-navbar .right-side .dropdown .image-dropdown:hover {
    color: orange;
}

.NavbarLogged-component .container-navbar .right-side .dropdown-menu {
    width: 100%;
}

