@media(max-width: 780px) {
    .NavbarLogged-component .container-navbar {
        padding: 10px 30px;
    }
}

@media(max-width: 560px) {
    .NavbarLogged-component .container-navbar .left-side .navbar-brand #film-icon {
        font-size: 35px;
        margin-right: 10px;
    }

    .NavbarLogged-component .container-navbar .left-side .navbar-brand h1 {
        margin-top: 10px;
        font-size: 30px;
    }
}