.container-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.container-loading img {
    max-width: 70px;
}

@media(max-width: 580px) {
    .container-loading img {
        max-width: 50px;
    }
}